myColorPalette {
  color: #dae3ee;
  color: #dcd6f7;
  color: #b7bbca;
  color: #424874;
}

.mainbar {
  background-color: #dcd6f7;
}

.container {
  max-width: 100%;
}

body {
  background-color: #b7bbca;
  font-family: "Sofia", sans-serif;
  font-weight: bolder;
  color: #361111;
  background-image: url("./images/money.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  text-align: center;
}

.home-con {
  margin-top: 50px;
  text-align: center;
}

.con-cat {
  margin-top: 50px;
}

body {
}
